// Primary
$clr-bright-orange: hsl(31, 77%, 52%);
$clr-dark-cyan: hsl(184, 100%, 22%);
$clr-very-dark-cyan: hsl(179, 100%, 13%);
// Neutral
$clr-trans-white: hsla(0, 0%, 100%, 0.75); // <p>
$clr-light-gray: hsl(0, 0%, 95%); // bg, headings, btn
$clr-black: hsl(0, 0%, 0%);
$clr-white: hsl(0, 0%, 100%);

// Typography
$ff-sans-normal: "Lexend Deca", sans-serif;
$ff-cursive: "Big Shoulders Display", cursive;
$fs-900: 3rem;
$fs-800: 2.25rem;
$fs-700: 1.75rem;
$fs-600: 1.5rem;
$fs-500: 1.225rem;
$fs-400: 1.125rem;
$fs-300: 1rem;
$fs-200: 0.875rem;
//  utilities
$border-rad: 1rem;
$line-height: 1.5;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
