// Primary colors
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

// Neutral
$trans-white: hsla(0, 0%, 100%, 0.75); // <p>
$light-gray: hsl(0, 0%, 95%); // bg, headings, btn

// Font config
$f-size: 15px;
$f-t1: "Lexend Deca", sans-serif;
$f-t2: "Big Shoulders Display", cursive;

// margin & padding classes
$spaceamounts: (1, 2, 3, 4, 5, 6, 7, 8, 9);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }
  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
