@import "config";
@import "general";

.container {
  flex-direction: column;
  article {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: white;
    padding: 2em;

    &:nth-child(1) {
      background-color: $clr-bright-orange;
      border-top-left-radius: $border-rad;
      border-top-right-radius: $border-rad;
      .btn {
        color: $clr-bright-orange;
        &:hover {
          background-color: $clr-bright-orange;
        }
      }
    }
    &:nth-child(2) {
      background-color: $clr-dark-cyan;
      .btn {
        color: $clr-dark-cyan;
        &:hover {
          background-color: $clr-dark-cyan;
        }
      }
    }
    &:nth-child(3) {
      background-color: $clr-very-dark-cyan;
      border-bottom-left-radius: $border-rad;
      border-top-right-radius: $border-rad;
      .btn {
        color: $clr-very-dark-cyan;
        &:hover {
          background-color: $clr-very-dark-cyan;
        }
      }
    }

    img {
      width: 4em;
      height: 2.5em;
      margin: 1em 0;
    }
    h1 {
      font-family: $ff-cursive;
      font-size: $fs-800;
      font-weight: 700;
    }
    p {
      font-size: $fs-300;
      color: $clr-trans-white;
      margin: 1em 0;
    }
    .btn {
      border-radius: 2rem;
      background-color: $clr-white;
      border: 0.2em solid $clr-white;
      padding: 0.5em 2em;
      font-size: $fs-300;
      text-align: center;
      &:hover {
        cursor: pointer;
        color: $clr-white;
      }
    }
  }
}

@media (min-width: 900px) {
  .container {
    flex-direction: row;
    padding: 1em;
    article {
      max-width: 17em;
      &:nth-child(1) {
        border-bottom-left-radius: $border-rad;
        border-top-right-radius: 0;
      }
      &:nth-child(3) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: $border-rad;
      }
      .btn {
        margin-top: 3em;
      }
    }
  }
}
